@import 'colors.css';

.accounts-button {
  height: 40px;
  width: 100%;
  border: none;
  margin: 0 auto 10px;

  &:hover {
    background: $button-hover-color;
    color: $button-hover-text-color;
  }
}

.accounts-container {
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  background: $color-panel-bg;
  border: 1px solid $color-panel-border;
  flex: 0 0 auto;
  padding: 40px 10px;

  .accounts-link {
    text-align: center;
    cursor: pointer;

    &:hover,
    &::after {
      text-decoration: underline;
    }
  }
}

.accounts-flex-padding {
  flex: 1 1 1px;
}

.Account {
  align-items: center;
  justify-content: center;

  .VisavInput {
    margin-bottom: 10px;
  }
}

.account-settings-panel {
  .VisavInput {
    width: 250px;
  } 
}
