body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1 1 1px;
  overflow: scroll;
}
