@import 'colors.css';

.ImageButton {
  position: relative;
  padding: 10px;
  width: 125px;
  height: 50px;
  background: $button-color;
  color: $light-text-color;
  cursor: pointer;
  border: $button-border-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  &:focus {
    outline: 0 solid $button-hover-color;
  }

  &:hover {
    background: $button-hover-color;
    color: $button-hover-text-color;
  }

  &.disabled {
    color: $medium-text-color;
    cursor: not-allowed;

    &:hover {
      background: $button-disabled-hover-color;
      color: $button-disabled-hover-text-color;
    }
  }

  &.destructive {
    &:hover {
      background: $button-destructive-hover-color;
      color: $button-destructive-hover-text-color;
    }
  }

  .btn-image-content {
    flex: 1 0 30%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
  }

  .btn-text-content {
    flex: 1 0 70%;
    font-size: 16px;
  }
}
