$selectedColor: #0ff;

/* NAVIGATION */
$color-NavItem-bg: #0f0;
$color-NavItem-text: #0ff;
$color-NavItem-bg-selected: #f00;
$color-NavItem-text-selected: #f0f;
$color-NavItem-bg-hover: #0ff;
$color-NavItem-text-hover: #0f0;
