@import 'colors.css';

.MainHeader {
  display: flex;
  flex-direction: column;
  background-color: $color-header-bg;
  padding: 10px;
  margin-bottom: 10px;
  height: 50px;

  .header-row {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .NavItem {
      .btn-text-content {
        color: $header-text-color;
      }
    }
  }

  .title {
    margin: 0 0 0 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $header-text;
  }

  #header-person-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  #header-person-text {
    margin-right: 15px;
    padding-top: 2px;
    color: $header-text-color;
    font-size: 14px;
    font-weight: 800;
  }

  #header-person-visav-icon {
    font-size: 22px;
    cursor: inherit;

    span {
      color: $header-text-color;
    }

    &.selected,
    &:hover {
      background-color: $nav-item-bg;6
      span {
        color: $header-text-color;
      }
    }
  }
}
