@import 'colors.css';

.header {
  display: flex;
  flex-direction: column;
  background-color: $color-header-bg;

  .header-row {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;

    .horizontal-nav {
      flex: 0 0 auto;
    }
  }
  .title {
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
