.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-header-bg;

  .header-row {
    flex: 1 0 auto;
    display: inline-block;
    width: 100%;

    .title {
      float: left;
      width: 20%;
    }

    .horizontal-nav {
      float: right;
      width: 40%;
    }
  }

  .title {
    display: inline-block;
    margin: 0 auto;
  }
}
