@import 'colors.css';

.VisavInput {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $input-border-color;
  box-sizing: border-box;
  padding: 0 10px;
  height: 50px;

  label {
    display: block;
    font-size: 60%;
    transform: translateY(-50%);
    opacity: 0;
    color: $dark-text-color;
  }

  input {
    width: 100%;
    border: 0;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: 100%;
    border-width: 0;
    padding: 0;
    width: 100%;
    outline: none;
    background: transparent;
    color: $light-text-color;
    margin: 12px 0;

    &::placeholder {
      color: $dark-text-color;
    }
  }

  &.is-active {
    label {
      transform: translateY(0);
      opacity: 1;
      margin: 5px 0 0;
    }

    input {
      font-size: 14px;
      margin: 0 0 10px;
      transform: translateY(20%);
    }
  }

  .autocomplete-item {
    color: $faded-text-color;
    padding: 10px;
    border-radius: 0;
  }
}
