@import 'media.css';
@import 'colors.css';

.Invite {
  align-items: center;
  justify-content: center;
}

.InvitePanel {
  align-items: center;
  justify-content: center;
  width: 250px;

  .description {
    margin-bottom: 10px;
  }

  .VisavDropdown {
    width: 100%;
    margin-bottom: 10px;
  }

  .VisavInput {
    width: 100%;
    margin-bottom: 10px;
  }

  .invite-button {
    width: 100%;
  }
}
