@import 'media.css';
@import 'colors.css';

.InviteUsers {
  align-items: center;
  justify-content: center;
}

.InviteUsersPanel {
  align-items: center;
  justify-content: center;

  .description {
    margin-bottom: 10px;
  }

  .VisavDropdown {
    width: 250px;
    margin-bottom: 10px;
  }

  .VisavInput {
    width: 250px;
    margin-bottom: 10px;
  }

  .invite-button {
    width: 250px;
  }
}
