@import 'colors.css';

.nav {
  display: flex;
  padding: 0;
  margin: 0;

  &.horizontal-nav {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    .NavItem {
      img {
        max-height: 30px;
      }
    }
  }

  &.vertical-nav {
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    .NavItem {
      img {
        max-width: 30px;
      }
    }
  }
}

.NavItem {
  display: flex;
  flex-direction: row;
  flex: 1 0 1px;
  cursor: pointer;
  background-color: $nav-item-bg;
  align-items: center;
  justify-content: center;

  .ImageButton {
    background-color: $nav-item-bg;

    .btn-text-content {
      font-weight: 500;
      color: $nav-item-text;
      white-space: nowrap;
    }
  }

  &.selected {
    background-color: $nav-item-bg-selected;

    span {
      color: $nav-item-text-selected;
    }
  }

  &:hover {
    background-color: $nav-item-bg-hover;

    span {
      color: $nav-item-text-hover;
    }
  }
}

.LeftNav {
  margin-bottom: 10px;
  padding: 0;
  padding: 10px 0 0;
  border-radius: 0 10px 10px 0;
  border: 1px solid $color-panel-border;
  background-color: $color-panel-bg;
  width: 50px;
}
