@import 'colors.css';

.nav {
  background-color: red;

  &.horizontal-nav {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &.vertical-nav {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.NavItem {
  display: inline-block;
  flex: 1 0 auto;
  cursor: pointer;
  background-color: $color-NavItem;

  span {
    color: $color-NavItemText;
  }

  &.selected {
    background-color: $color-NavItem-Selected;

    span {
      color: $color-NavItemText-Selected;
    }
  }

  &:hover {
    background-color: $color-NavItem-Hover;

    span {
      color: $color-NavItemText-Hover;
    }
  }
}
