@import 'media.css';
@import 'colors.css';

.panel {
  padding: 20px 5%;
  background: $color-panel-bg;
  border: 1px solid $color-panel-border;
  display: flex;
  flex-direction: column;

  > h1.title {
    text-align: center;
    margin: 0 0 10px 0;
    flex: 0 0 auto;
    font-size: 24px;
    color: $medium-text-color;
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }

  .recharts-legend-item-text {
    color: $medium-text-color;
  }
}

.PatientInfoPanel {
  overflow: hidden;

  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .right-column,
  .left-column {
    flex: 1 0 290px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    ul {
      padding-left: 17px;

      @media(--gt-xs) {
        padding-right: 10px;
      }

      > li {
        margin-bottom: 10px;
      }

      > li > ul {
        margin-top: 5px;

        > li {
          margin-bottom: 5px;
        }
      }
    }
  }

  > .right-column {
    @media (--gt-xs) {
      margin-left: 20px;
    }
  }
}
