@import 'colors.css';

.panel {
  padding: 10px;
  background: $color-panel-bg;
  border: 1px solid $color-panel-border;

  h1.title {
    text-align: center;
    margin: 10px 0;
    flex: 1 1 1px;
    color: $medium-text-color;
  }

  .recharts-legend-item-text {
    color: $medium-text-color;
  }
}
