@import 'media.css';
@import 'colors.css';

.panel {
  padding: 25px 3%;
  background: $color-panel-bg;
  border: 1px solid $color-panel-border;
  display: flex;
  flex-direction: column;
  > h1.title {
    text-align: center;
    margin: 0 0 10px;
    flex: 0 0 auto;
    font-size: 24px;
    color: $medium-text-color;
    width: 100%;
  }

  h2 {
    font-size: 20px;
  }
}

.PasswordResetPanel {
  align-items: center;
  .VisavInput{
    min-width: 250px;
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
}

.SetPasswordPanel{
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;

  .VisavInput{
    min-width: 250px;
    width: 100%;
    margin: 10px 0px 20px 0px;
  }
}
.signup-panel,
.login-panel{
  align-self: center;
  align-items: center;
  justify-content: center;
  color: $medium-text-color;
  min-width: 15%;
  
  .VisavInput{
    width: 100%;
  }
  
  .ImageButton{
    width: 100%;
  }

  .text-link{
    margin-top: 10px;
  }
  
  h1.title{
    margin-bottom: 20px;
  }
}
.PatientInfoPanel {
  overflow: hidden;

  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .right-column,
  .left-column {
    flex: 1 0 290px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    ul {
      padding-left: 17px;

      @media (--gt-xs) {
        padding-right: 10px;
      }

      > li {
        margin-bottom: 10px;
      }

      > li > ul {
        margin-top: 5px;

        > li {
          margin-bottom: 5px;
        }
      }
    }
  }

  > .right-column {
    @media (--gt-xs) {
      margin-left: 20px;
    }
  }
}
