@import 'colors.css';
@import 'media.css';

.PatientInfoPanels {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  width: 100%;

  .panel:first-of-type {
    flex: 1 1 auto;
    overflow: scroll;
  }

  .vertical-control-panel {
    flex: 0 0 auto;
    margin-left: 10px;
  }
}

.PatientInfoPanel {
  overflow: hidden;
  flex: 1 0 50%;

  @media (--lt-md) {
    flex: 1 0 auto;
  }

  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
  }

  .right-column,
  .left-column {
    flex: 1 0 290px;
    display: flex;
    flex-direction: column;
    max-width: 100%;

    ul {
      padding-left: 17px;

      @media (--gt-xs) {
        padding-right: 10px;
      }

      > li {
        margin-bottom: 10px;
      }

      > li > ul {
        margin-top: 5px;

        > li {
          margin-bottom: 5px;
        }
      }
    }
  }

  > .right-column {
    @media (--gt-xs) {
      margin-left: 20px;
    }
  }
}

.PatientInfoReportPanel {
  .ImageButton {
    width: 100%;
  }
}

.PGRResponsePanel {
  > span {
    text-align: center;
    width: 250px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: 600;
  }
}

.PatientInfoChatPanel {
  .ChatContainer {
    flex: 1 1 1px;
    display: flex;
    flex-direction: column;
  }

  .ChatInput {
    width: 100%;
    height: 50px;
    flex: 1 1 50px;
  }

  .ChatMessages {
    color: $light-text-color;
    overflow: scroll;

    .ChatMessageHeader {

    }

    .ChatRowFromMe {

    }

    .ChatRowToMe {

    }
  }
}
