@import 'media.css';

.theatre {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;

  .theatre-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;

    .btn-call {
      width: 100px;
      height: 100px;

      .btn-image-content {
        background-image: url('../img/call.png');
      }
    }

    .btn-cancel {
      width: 100px;
      height: 100px;

      .btn-image-content {
        background-image: url('../img/hang-up.png');
      }
    }
  }
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background: white;
  border: 1px solid #e5e5e5;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Telesession {
  background: #f7f7f7;
}

.telesession-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  @media (--gt-md) {
    margin-right: 10px;
  }

  @media (--lt-lg) {
    margin-bottom: 10px;
  }
}

.charts-container {
  overflow: scroll;
}

.RepsChartPanel {
  margin-bottom: 10px;
}

.ExercisesChartPanel {
  margin-bottom: 10px;
}

.HealthEventsChartPanel {
  margin-bottom: 10px;
}
