@import 'media.css';

.videoContainer {
  width: 100%;
  background: white;
  border: 1px solid #e5e5e5;
}

.Telesession {
  background: #f7f7f7;
}

.telesession-container {
  position: relative;
  flex: 1 0 300px;

  @media (--gt-md) {
    margin-right: 10px;
  }
}

.create-session-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.RepsChartPanel {
  @media (--gt-md) {
    margin-bottom: 10px;
  }
}
